

.underline {
  border-top: solid rgb(186, 185, 185) 1px;
}

.post:hover {
  background-color: rgb(231, 244, 243);
  border-radius: 15px;
  padding-bottom: 15px;
}

.page-title {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.page-title > h2 {
  font-size: 60px;
}